/********************************************
*
* Homepage
*
********************************************/

#carousel {
  blockquote {
    display: block;
    padding: 40px;
    font-size: 48px;
    line-height: ($baseline*5);
    color: $default-colour;
    margin: $baseline 0;
  }
}